Welcome to DietEaser.

<table>
  <tr>
    <th>Latest news</th>
  </tr>

<% article = @articles.last %>
  <tr>
    <td><%= link_to image_tag(article.imageurl + "-small.jpg", :border=>0), :action => '' %> </td>
    <td><strong><%=article.title %></strong>  <%=article.body %></td>
    <td><%= link_to 'Show', article %></td>
  </tr>


</table>